<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <title>관리자</title>
    </head>
    <body>
       <form method="post">
           <h1><%= id %></h1>
			<h1>관리자 로그인 성공</h1>
            <input type="submit" value="비밀번호 수정"/>
       </form>  
    </body>
</html>
