<!DOCTYPE html>
<html>
    <head>
        <title>관리자</title>
    </head>
    <body>
       <form method="post">
           <h1>로그인</h1>
			<label>현제 비밀번호</label>
                <input type='password' name="check"/>
            </div>
           <div>
                <label>비밀번호</label>
                <input type='password' name="password"/>
            </div>
            <div>
            <label>비밀번호 확인</label>
                <input type='password' name="passwordcheck"/>
            </div>
            <input type="submit" value="비밀번호 변경"/>
       </form>  
    </body>
</html>
