<!DOCTYPE html>
<html>
    <head>
        <title>관리자</title>
    </head>
    <body>
       <form method="post">
           <h1>로그인</h1>
           <div>
                <label>의료진 번호</label>
                <input type='text' name="employeeNumber"/>
            </div>
            <div>
                <label>계정 아이디</label>
                <input type='text' name="id"/>
            </div>
            <div>
			<label>현제 비밀번호</label>
                <input type='password' name="check"/>
            </div>
            <div>
                <label>비밀번호</label>
                <input type='password' name="password"/>
            </div>
            <div>
                <label>비밀번호 확인</label>
                <input type='password' name="passwordcheck"/>
            </div>
            <div>
                <label>소속 부서</label>
                <input type='text' name="belong"/>
            </div>
            <div>
                <label>연락처</label>
                <input type='text' name="contact"/>
            </div>
            <div>
                <label>주소</label>
                <input type='text' name="address"/>
            </div>
            <div>
                <label>생일</label>
                <input type='date' name="birth"/>
            </div>
            <input type="submit" value="정보 변경"/>
       </form>  
    </body>
</html>
