<!DOCTYPE html>
<html>
    <head>
        <title>로그인</title>
    </head>
    <body>
       <form method="post">
           <h1>로그인</h1>
           <div>
                <label>이름</label>
                <input type='text' name="id"/>
            </div>
            <div>
            <label>비밀번호</label>
                <input type='password' name="password"/>
            </div>
            <input type="submit" value="로그인"/>
       </form>  
    </body>
</html>
