<!DOCTYPE html>
<html>
    <head>
        <title>의료진</title>
    </head>
    <body>
       <form method="post">
			<h1><%= id %></h1>
           <h1>의료진 로그인 성공</h1>
            <input type="submit" value="계정 정보 수정"/>
       </form>
    </body>
</html>
