<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
    <h1>무시당했습니다.. </h1>
    <h4>초기화하겠습니다.....</h4>    
  </body>
</html>
