<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %></h1>
  <% setInterval("history.go(0);", 2000); %>
  </body>
</html>
