<!DOCTYPE html>
<html>
  <head>
    <title>인식화면</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta http-equiv="refresh" content="10;url='/reset'" >
  </head>
  <body>
    <h1>안녕하세요! <%= username %>님! </h1>
    <h2>같이 운동할까요?</h2>
    
  </body>
</html>
