<!DOCTYPE html>
<html>
  <head>
    <title>초기화..</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="5;url='/'">
  </head>
  <body>
    <h1>수고하셨어요!</h1>
    <h3>이제 가셔도 좋습니다.</h3>    
  </body>
</html>
