<!DOCTYPE html>
<html>
  <head>
    <title>운동 승낙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta http-equiv="refresh" content="5;url='/end'">

  </head>
  <body>
<h1> 저를 따라해보세요! </h1>
  <p id="ViewTimer"></p><img src="/images/muk-pa.gif" id="img" width="736" height="900" alt="muk-pa"/>
    <a href="/reset"> 그만하기 </a>    
  </body>
</html>
