<!DOCTYPE html>
<html>
  <head>
    <title>운동 승낙</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
    <h1> 안녕!운동하자!</h1>    
  </body>
</html>
