<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Interval %></h1>
    <h1><%= temp %></h1>
    <h1><%= humi %></h1>
    
  </body>
</html>
