<!DOCTYPE html>
<html>
  <head>
    <title>대기화면 </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
    <h1> HI!</h1>    
  </body>
</html>
