body {

  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: black;
}

a {
  color: #00B7FF;
}

h1 {
  color: white;
  font-size: 5em;
}

h2 {
  color: white;  
  font-size: 3em;  
}

#result-image{
  height: 30em;
  border-style: double;
  border-color: white;
}