@font-face {
    font-family: Light; 
    src:url('./font/SourceHanSansKR-Light.eot');
    src:local(※), url('./font/SourceHanSansKR-Light.woff') format('woff');
}

@font-face {
    font-family: Regular; 
    src:url('./font/SourceHanSansKR-Regular.eot');
    src:local(※), url('./font/SourceHanSansKR-Regular.woff') format('woff');
}

input:-ms-input-placeholder { color: #e0e0e0; }
input::-webkit-input-placeholder { color: #e0e0e0; }
input::-moz-placeholder { color: #e0e0e0; }
input::-moz-placeholder { color: #e0e0e0; }

body,
html{
    width: 100% !important;
    height: 100% !important;
}

p {
    line-height: 0px;
}

body {
    background-image: url("../img/background.jpg");
    background-position: left top;
    background-attachment: fixed;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 1900px;
    min-height: 970px;
}

.navbar {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    height: 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar .container {
    width: 100% !important;
    height: 100% !important;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 0px;
    margin: 10px 0 10px 30px;
}

.nav-item .nav-link {
    font-family: Regular;
    font-size: 20px;
    color: #000;
    padding: 13px 15px 13px 15px !important;
    margin-left: 10px;
}

.nav-item .nav-link:hover {
    color: #004593;
}

.dropdown-menu {
    margin-left: 35px;
    margin-right: 35px;
    font-family: Light;
    font-size: 15px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: #000;
}

.dropdown-menu li a:hover {
    color: #004593;
    text-decoration: #000;
}

.profile {
    display: flex;
    height: 44px;
    margin-left: 100px;
    margin-right: 40px;
    height: 100%
}

.profile a {
    font-family: Regular;
    font-size: 20px;
    color: #004593;
    padding: 13px 10px 13px 10px !important;
}

.content {
    width: 1280px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    margin-top: 144px;
    margin-bottom: 80px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), 0 -2px 2px rgba(0,0,0,0.02);
    padding-top: 50px;
    padding-bottom: 50px;
}

.content_title {
    padding: 0 0 0 15px;
}

.content_title p {
    font-family: Regular;
    font-size: 45px;
    line-height: 45px;
}

form {
    font-family: Light;
}

form .row {
    margin-top: 20px;
}

form .row:first-child, form .row:last-child {
    margin-top: 60px;
}

form input {
    font-family: Light;
}

form .submit {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background-color: #004593;
    font-family: Regular;
    font-size: 15px;
    color: #fff;
    border: none;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form .submit:focus {
    outline: none !important;
}