doctype html
html
	head
		title 로그인
	body
		h3 로그인
		hr
		form(name="login", method="POST")
			div.input
				span.label ID
				input(type="text", name="userid")
			div.input
				span.label Pass
				input(type="password", name="userpass")
			hr
			div.input
				input(type="submit", value="로그인")
